<!doctype html>
<html ng-app="bizSpark">
	<head>

<!-- 	    <script src="../3rdparty/jquery-1.9.1.js"></script> -->
<!-- 	    <script src="../3rdparty/ng-grid-2.0.7.min.js"></script> -->
<!-- 	    <link href="../3rdparty/ng-grid.min.css" rel="stylesheet"> -->

	    <script src="../3rdparty/angular.1.0.7min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
	    <script src="../3rdparty/ui-bootstrap-tpls-0.5.0.min.js"></script>
	    <script src="../js/controller.js"></script>

	    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	    <link href="../stylesheets/core.css" rel="stylesheet">

    
	</head>
<style type="text/css">
.core {
	margin-right: 10%;
	margin-left:  10%;
	min-height : 700px;

}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
</style>

	<body>

		<div ng-controller="CoreController">

		<!-- Header -->
			<div class="navbar navbar-inverse">
          		<div class="navbar-inner">
          			 <div class="container">
          			 	<ul class="nav">
          					<li ng-repeat="menu in cmenus" class="menu.class">
          					<a href="{{menu.link}}">{{menu.name}}</a></li>
          				</ul>
          			</div>
            	</div>
          	</div>
		<!-- End ofHeader -->

		<!--Core body -->
			<div class="well core">
				<div class="">
					<ul class="nav nav-pills">
					  <li ng-repeat="leftNav in leftNavs" class="{{leftNav.class}}" ng-click="leftNavClicked($event, $index)">
							<a href="{{leftNav.link}}" ng-bind-html-unsafe="leftNav.title"></a></li>
					</ul>
				</div>
			
				<div class="core">
					 <div ng-view></div>
				</div>
			</div>



		<!--End of code body-->
		</div>
	</body>

</html>