<div >
	<legend>Redeem Coupon</legend>
<form class="form-horizontal">
 <div class="control-group">
    <label class="control-label" for="inputEmail">Coupon code</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="coupon">
    </div>
  </div>
  <label>OR</label>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Referrer's Phone Number</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="number">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" ng-click="isCollapsed = !isCollapsed ">Retrieve Coupon</button>
    </div>
  </div>
  <div collapse="isCollapsed">
  		<div class="well">Coupon details </div>
  	</div>
</form>
</div>